{
    "doApiToken": "xxx",
    "mainNodeName": "sun",
    "mainPublicIp": "xxx",
    "sshKeyName": "son-work",
    "privateKeyPath": "~/.ssh/id_rsa",
    "networkId": 89,
    "verbosity": 4,
    "sshKeys": [],
    "coinbasePrivateKeySun": "xxx",
    "nodes": [
        {
            "name": "moon",
            "coinbaseAddress": "xxx",
            "coinbasePrivateKey": "xxx",
            "ownerPrivateKey": "xxx",
            "resignBlockNumber": 0,
            "region": "nyc1"
        },
        {
            "name": "earth",
            "coinbaseAddress": "xxx",
            "coinbasePrivateKey": "xxx",
            "ownerPrivateKey": "xxx",
            "resignBlockNumber": 0,
            "region": "nyc1"
        },
        {
            "name": "anonymous1",
            "coinbaseAddress": "xxx",
            "coinbasePrivateKey": "xxx",
            "ownerPrivateKey": "xxx",
            "resignBlockNumber": 0,
            "region": "nyc1"
        }
    ]
}
