{
    "doApiToken": "xxx",
    "mainPublicIp": "xxx",
    "networkId": 89,
    "verbosity": 4,
    "coinbasePrivateKeySun": "xxx",
    "coinbasePrivateKeyMoon": "xxx",
    "coinbasePrivateKeyEarth": "xxx",
    "nodes": [
        {
            "name": "anonymous1",
            "coinbaseAddress": "xxx",
            "coinbasePrivateKey": "xxx",
            "ownerPrivateKey": "xxx",
            "region": "nyc1"
        }
    ]
}
